img[src*="cin1.jpg" ] {
    width: 60px !important;
    height: auto; /* Maintain aspect ratio */
}

img[src*="cin2.jpg" ] {
    width: 60px !important;
    height: auto; /* Maintain aspect ratio */
}

img[src*="cin-line.jpg" ] {
    width: 60px !important;
    height: auto; /* Maintain aspect ratio */
}

img[src*="dia1.jpg" ] {
    width: 60px !important;
    height: auto; /* Maintain aspect ratio */
}

img[src*="euc-smile.jpg" ] {
    width: 60px !important;
    height: auto; /* Maintain aspect ratio */
}

img[src*="phos-cur.jpg" ] {
    width: 60px !important;
    height: auto; /* Maintain aspect ratio */
}

img[src*="para-1.jpg" ] {
    width: 60px !important;
    height: auto; /* Maintain aspect ratio */
}

img[src*="phos-chill.jpg" ] {
    width: 60px !important;
    height: auto; /* Maintain aspect ratio */
}

img[src*="animesmile.gif" ] {
    width: 60px !important;
    height: auto; /* Maintain aspect ratio */
}

img[src*="anidis.png" ] {
    width: 60px !important;
    height: auto; /* Maintain aspect ratio */
}

img[src*="anicry.png"] {
    width: 60px !important;
    height: auto;
}

img[src*="aniic.png"] {
    width: 60px !important;
    height: auto;
}

img[src*="aniq.png"] {
    width: 60px !important;
    height: auto;
}

img[src*="anithi.png"] {
    width: 60px !important;
    height: auto;
}

img[src*="aniyes.png"] {
    width: 60px !important;
    height: auto;
}

img[src*="ava.jpg"] {
    width: 60px !important;
    height: auto;
}

img[src*="bella.jpg"] {
    width: 60px !important;
    height: auto;
}

img[src*="diana-bulb.jpg"] {
    width: 60px !important;
    height: auto;
}

img[src*="diana.jpg"] {
    width: 60px !important;
    height: auto;
}

img[src*="eileen.jpg"] {
    width: 60px !important;
    height: auto;
}

img[src*="giveheart.jpg"] {
    width: 60px !important;
    height: auto;
}

img[src*="nanami.jpg"] {
    width: 60px !important;
    height: auto;
}

img[src*="carol.jpg"] {
    width: 60px !important;
    height: auto;
}


img[src*="giveheart.png"] {
    width: 60px !important;
    height: auto;
}
